{% extends 'sistema/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row white" style="margin-bottom: 0px;">
  <div class="row white" >
    
    <div class="center blue-grey darken-3 s12 l12 white-text">
      <h4 >
        COBROS
      </h4>  
    </div>
    
    <div class=" row col s12 l8 offset-l2">
      <div class="row col l12 s12">
        <div class="input-field">
          <input id="nombre" type="text" class="validate">
          <label for="nombre">Nombre Cobro</label>
        </div>  
      </div>

  </div>

  <div class="row col l12 offset-l8 s12">
    <button class=" col l2 s12 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
      Guardar
    </button>
  </div>

</div>


{% endblock content %}