{% extends 'sistema/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row white" style="margin-bottom: 0px;">
  
  <div class="center blue-grey darken-3 s12 l12 white-text">
    <h4 >
      NUEVA EMPRESA
    </h4>  
  </div>

  <div class="row white col s12 l6" >
    
    <div class=" row col s12 l12 ">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="nombre" type="text" class="validate">
          <label for="nombre">Nombre Empresa</label>
        </div>  
      </div>
    </div>

    <div class=" row col s12 l12">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">phone</i>
          <input id="Telefono" type="tel" class="validate">
          <label for="Telefono">Telefono</label>
        </div>  
      </div>
    </div>

    <div class=" row col s12 l12">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="mail" type="email" class="validate">
          <label for="mail">Correo</label>
        </div>  
      </div>
    </div>


  </div>

  <div class="row white col s12 l6" >
    
    <div class="row center col l5 s6 offset-l3">
      <h6>PRECIO DEL COBRO</h6>
    </div>

    <div class="row center col l4 s6">
      <h6>AGREGAR</h6>
    </div>

    <div class="row col s12 l12">
      <div class="row col l5 s6 offset-l3">
        <div class="input-field">
          <input id="tenencias" type="number" class="validate">
          <label for="tenencias">Autentica DPI</label>
        </div>
      </div>

      <div class="row center col l4 s6">
        <br>
        <input type="checkbox" id="test1" />
        <label for="test1"></label>
      </div>  
    </div>

    <div class="row col s12 l12">
      <div class="row col l5 s6 offset-l3">
        <div class="input-field">
          <input id="tenencias" type="number" class="validate">
          <label for="tenencias">Autentica DPI</label>
        </div>
      </div>

      <div class="row center col l4 s6">
        <br>
        <input type="checkbox" id="test1" />
        <label for="test1"></label>
      </div>  
    </div>

    <div class="row col s12 l12">
      <div class="row col l5 s6 offset-l3">
        <div class="input-field">
          <input id="tenencias" type="number" class="validate">
          <label for="tenencias">Autentica DPI</label>
        </div>
      </div>

      <div class="row center col l4 s6">
        <br>
        <input type="checkbox" id="test1" />
        <label for="test1"></label>
      </div>  
    </div>

    <div class="row col s12 l12">
      <div class="row col l5 s6 offset-l3">
        <div class="input-field">
          <input id="tenencias" type="number" class="validate">
          <label for="tenencias">Autentica DPI</label>
        </div>
      </div>

      <div class="row center col l4 s6">
        <br>
        <input type="checkbox" id="test1" />
        <label for="test1"></label>
      </div>  
    </div>

  </div>

  <div class="row col l11 s12">
    <button class=" col l2 s12 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
      Guardar
    </button>
  </div>
    
  

</div>


{% endblock content %}