{% extends 'sistema/base/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row white" style="margin-bottom: 0px;">
  <div class="row white" >
    
    <div class="center blue-grey darken-3 s12 l12 white-text">
      <h4 >
        COBROS
      </h4>  
    </div>
    
    <div class=" row col s12 l8 offset-l2">
      <div class="row col l12 s12">
        <div class="input-field">
          <input id="nombre" type="text" class="validate">
          <label for="nombre">Nombre Cobro</label>
        </div>  
      </div>

    </div>

    <div class="row col l12 offset-l8 s12">
      <button class=" col l2 s12 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
        Guardar
      </button>
    </div>

  </div>

   <div class="row white" >
    
    <div class="center blue-grey darken-4 s12 l12 white-text z-depth-3">
      <h4 class="">
        LISTADO DE COBROS
      </h4>  
    </div>

    <div class=" col l10 s12 offset-l1 ">
          
      <table class="highlight responsive-table" id="tabla">
        <thead>
          <tr>
              <th>Nombre Cobro</th>
              <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Autentica DPI</td>
            <td>
              <a class="btn col l6 s8 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">delete</i>
              </a>
            </td>
          </tr>
          
        </tbody>
      </table>
      <br>
    </div>
  </div>

</div>


{% endblock content %}