<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    
    <title>Espaderos&Azrudia</title>

    <link class="circle" rel="shortcut icon" href="{% static 'admin/img/ico2.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'admin/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    
    
  </head>

  <body class="grey darken-4">	
		
  <form method="post"> {% csrf_token %}

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        
        <div class="row center">
          <div class="col l4 s8 offset-l4 offset-s2"><img class="circle responsive-img" src="{% static 'admin/img/ico2.png' %}"></div>
        </div>
        
        <div class="row white-text">
          <div class="input-field col l6 s12 offset-l3">
            <i class="material-icons prefix">account_circle</i>
            <input id="user" type="text" class="form-control validate" name="username" required="required">
             <label for="user" data-error="Error" data-success="Ok">Usuario</label>
          </div>

          <div class="input-field col l6 s12 offset-l3">
            <i class="material-icons prefix">security</i>
            <input id="password" type="password" class="form-control validate" name="password" pattern=".{8,}" required="required">
            <label for="password" data-error="Error" data-success="Ok">Contraseña</label>
          </div>

        </div>        
        
      </div>

        <div class="row">
          
          <div class="row col l3 s6 offset-l3">
            <a href="/restaurar_password" class="col s12 btn-large waves-effect waves-light orange lighten-1 black-text z-depth-3"><b>Recuperar Contraseña</b></a>
          </div>
          
          <div class="row col l3 s6">
            <button class="btn col s12 btn-large waves-effect waves-light lime lighten-1 black-text z-depth-3" type="submit" name="action"><b>Iniciar</b>
              <i class="material-icons right">send</i>
            </button>
            
          </div>  
        </div>      

      </div>
    </div>

  </form>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'admin/js/materialize.js' %}"></script>
    
  </body>

</html>