<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    
    <title>Espaderos&Azrudia</title>

    <link class="circle" rel="shortcut icon" href="{% static 'admin/img/ico2.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'admin/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'admin/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  </head>

  <body class="grey darken-4">	
		
    <div class="container">
      <div class="row center">
        <h1 class="white-text">
          CONTRASEÑA CAMBIADA
        </h1>

        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      setTimeout(function()
      {
        document.location.href="/login";
      },2000);
    </script>
    

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'admin/js/materialize.js' %}"></script>
    
  </body>

</html>