{% extends 'sistema/base/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row" style="margin-bottom: 0px;">
  
  <div class="row white" >
    
    <div class="center blue-grey darken-4 s12 l12 white-text z-depth-3">
      <h4 class="">
        BUSCAR TRAMITE
      </h4>  
    </div>

    <div class=" col l12 s12">
    <div class="row">
      <form method="post">{% csrf_token %}
      <div class="col s12 l12 ">
        <div class="input-field col s12 l6 ">
          <i class="material-icons prefix">search</i>
          <input id="nombre" name="nombre" type="text" class="validate" required="required">
          <label for="nombre">Nombre</label>
        </div>
      
      <!--  
        <div class=" row col s12 l2 ">
          <label for="fecha">Mes y Año</label>
          <input id="fecha" name="fecha" type="month" class="validate " required="required">
        </div>
      -->
        <div class="row input-field col  s12 l4">
          <select id="empresa" name="empresa" required="required">
            {% for empresa in empresas %}
              <option value="{{empresa.id}}">{{empresa.nombre}}</option>
            {% endfor %}
          </select>
          <label>Seleccionar Empresa</label>
        </div>

        <br>
        <button class="btn col l2 s12 waves-effect waves-light pink white-text z-depth-1" type="sumit">
          Buscar
        </button>
      </div>

      </form>
    </div>
      {% if listado %}
      <table class="highlight responsive-table col s12 l12" id="tabla">
        <thead>
          <tr>
              <th>Cliente</th>
              <th>Empresa</th>
              <th>Fecha Ingreso</th>
              <th>Estatus</th>
              <th>Monto Cobro</th>
              <th>Detalle</th>
              <th>Editar</th>
          </tr>
        </thead>

        <tbody>
        {% for expe in listp %}
          <tr>
            <td>{{expe.0.cliente}}</td>
            <td>{{expe.0.operacionmes.empresa}}</td>
            <td>{{expe.0.fecha_ingreso_oficina}}</td>
            <td>{{expe.0.estatus}} {{expe.id}} </td>
            <td>
              {{expe.1}}
            </td>
            <td>
              <a class="btn col l6 s8 waves-effect waves-light amber black-text z-depth-1" href='#modal{{forloop.counter0}}'>
                <i class="material-icons  black-text">search</i>
              </a>
            </td>
            <td>
              <a class="btn col l6 s8 waves-effect waves-light red black-text z-depth-1" href='/editar_expediente/{{expe.0.id}}/'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>

{% for expe in listp %}

<div id="modal{{ forloop.counter0}}" class="modal">
    <div class="modal-content">
      <h3 class="pink-text center">DETALLE</h3>
      <p style="text-align: justify;">
        <b>Cliente : </b>  {{expe.0.cliente}} <br>
        <b># Tenencias : </b> {% if expe.0.tenencias %} {{expe.0.tenencias}} {% else %} -------- {% endif %} <br>
        <b>Total a cobrar : </b>  {{expe.1}} <br>
        <b>Empresa : </b> {{expe.0.operacionmes.empresa}} <br>
        <b>Fecha Pago: </b> {{expe.0.fecha_ingreso_oficina}}  <br>
        <b>Fecha Ingreso Digecam : </b> {% if expe.0.fecha_ingreso_digecam %}  {{expe.0.fecha_ingreso_digecam}} {% else %} -------- {% endif %} <br>
        <b>Fecha cita : </b>  {% if expe.0.fecha_cita %} {{expe.0.fecha_cita}} {% else %} -------- {% endif %} <br>
        <b>Fecha pago : </b>  {% if expe.0.fecha_pago %} {{expe.0.fecha_pago}} {% else %} -------- {% endif %} <br>
        <b>Fecha entrega : </b>  {% if expe.0.fecha_entrega %}{{expe.0.fecha_entrega}}{% else %} -------- {% endif %} <br>
        <b>Quien entrego : </b> {% if expe.0.entrego %} {{expe.0.entrego}} {% else %} -------- {% endif %} <br>
        <b>Quien Recibio : </b> {% if expe.0.recibio %} {{expe.0.recibio}} {% else %} -------- {% endif %} <br>
        <b>Estatus: </b> {{expe.0.estatus}}     <br>
        <b>Cobros: </b> {% for c in expe.0.cobro.all %} {{c}},{% endfor %}  <br>
        <b>Reporte Error:</b>
          {% if expe.0.docfile.name %}
            <a target='_blank' href="/pdf/{{expe.0.id}}">archivo</a>
          {% else %}
            --------
          {% endif %}            
        <br>
        <b>Descripcion:</b>
          {% if expe.0.descripcion_estatus %}
            {{expe.0.descripcion_estatus}}
          {% else %}
            --------
          {% endif %}
      </p>
    </div>
  </div>

  {% endfor %}

  {% endif %}
{% endblock content %}