{% extends 'sistema/base/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row" style="margin-bottom: 0px;">
  
  <div class="row white" >
    
    <div class="center blue-grey darken-4 s12 l12 white-text z-depth-3">
      <h4 class="">
        BUSCAR TRAMITE
      </h4>  
    </div>

    <div class=" col l10 s12 offset-l1 ">
    <div class="row">
      
      <div class="input-field col s9 l10 ">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate" value="Carlos">
        <label for="icon_prefix">Buscar</label>
      </div>

      <br>
      <a class="btn col l2 s3 waves-effect waves-light pink white-text z-depth-1" href='#'>
        Buscar
      </a>
    </div>
      
      <table class="highlight responsive-table" id="tabla">
        <thead>
          <tr>
              <th>Cliente</th>
              <th>Empresa</th>
              <th>Fecha Ingreso</th>
              <th>Estatus</th>
              <th>Cobro</th>
              <th>Detalle</th>
              <th>Editar</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Problema</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col l6 s8 waves-effect waves-light lime black-text z-depth-1" href='#modal1'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col l6 s8 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlos Eduardo Sandoval lopez</td>
            <td>TuArma</td>
            <td>02-6-2017</td>
            <td>Ok</td>
            <td>Q 450.00</td>
            <td>
              <a class="btn col s6 waves-effect waves-light lime black-text z-depth-1" href='#modal2'>
                <i class="material-icons black-text">search</i>
              </a><br>
            </td>
            <td>
              <a class="btn col s6 waves-effect waves-light red black-text z-depth-1" href='#'>
                <i class="material-icons  black-text">mode_edit</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
      <h3 class="red-text center">Detalle</h3>
      <p style="text-align: justify;">
        <b>Cliente : </b>  Carlos Eduardo Sandoval Lopez <br>
        <b>Empresa : </b> TuArma  ------ <br>
        <b>Fecha Pago: </b> --------  <br>
        <b>Fecha Ingreso Digecam : </b>  ------ <br>
        <b>Fecha Cita :</b> ------   <br>
        <b>Estatus: </b> Problema      <br>
        <b>Descuento : </b> Q 100.00  <br>
        <b>Descripcion:</b> <br>
          Error en expediente, detalle completo del problema y del por el cual se hace el descuento.
      </p>
    </div>
  </div>

<div id="modal2" class="modal">
    <div class="modal-content">
      <h3 class="red-text center">Detalle</h3>
      <p style="text-align: justify;">
        <b>Cliente : </b>  Carlos Eduardo Sandoval Lopez <br>
        <b>Empresa : </b> TuArma  ------ <br>
        <b>Fecha Pago: </b> --------  <br>
        <b>Fecha Ingreso Digecam : </b>  ------ <br>
        <b>Fecha Cita :</b> ------   <br>
        <b>Estatus: </b> Ok      <br>
        <b>Descuento : </b> Q 100.00  <br>
        <b>Descripcion:</b> <br>
          -----------
      </p>
    </div>
  </div>
{% endblock content %}