{% extends 'sistema/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row white" style="margin-bottom: 0px;">
  <div class="row white " >
    
    <div class="center blue-grey darken-3 s12 l12 white-text">
      <h4 >
        NUEVO TRAMITE
      </h4>  
    </div>
    
    <div class=" row col s12 l6 offset-l1">
        
      <div class="input-field ">
        <select>
          <option value="1">TuArma</option>
          <option value="2">TuArma</option>
          <option value="3">TuArma</option>
        </select>
        <label>Empresa</label>
      </div>

      <div class="input-field">
        <input id="nombre" type="text" class="validate">
        <label for="nombre">Nombre Cliente</label>
      </div>
      
      <div class="row col l6 s12">
        <label>Fecha Ingreso Oficina</label>
        <div class="input-field" style="margin-top: 0px;">
          <input id="fecha" type="date">
        </div>  
      </div>
      
      <div class="row col l6 s12">
        <label>Fecha Ingreso Digecam</label>
        <div class="input-field" style="margin-top: 0px;">
          <input id="fecha" type="date">
        </div>  
      </div>

      <div class="row col l6 s12">
        <label>Fecha Ingreso Cita</label>
        <div class="input-field" style="margin-top: 0px;">
          <input id="fecha" type="date">
        </div>  
      </div>

      <div class="row col l6 s12">
        <label>Fecha Ingreso Pago</label>
        <div class="input-field" style="margin-top: 0px;">
          <input id="fecha" type="date">
        </div>  
      </div>

      <div class="row col l6 s12">
        <div class="input-field">
          <input id="estatus" type="text" class="validate">
          <label for="estatus">Estatus</label>
        </div>
      </div>

      <div class="row col l6 s12">
        <div class="input-field">
          <input id="tenencias" type="number" class="validate">
          <label for="tenencias">Numero De Tenencias</label>
        </div>
      </div>

      <div class="row col l12 s12">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Descripción Del Estatus</label>
        </div>
      </div>           

  </div>

  <div class="row col l3 offset-l1 s12">
    <h4>
      Cobros A Realizar
    </h4>
    <br>
    <div class="row col l6 s12">
        <input type="checkbox" id="test1" />
        <label for="test1">Antecedentes Ambos</label>
    </div>
    <div class="row col l6 s12">
        <input type="checkbox" id="test2" />
        <label for="test2">Antecedentes Penales</label>
    </div>
    <div class="row col l6 s12">
        <input type="checkbox" id="test3" />
        <label for="test3">Fotografia</label>
    </div>
    <div class="row col l6 s12">
        <input type="checkbox" id="test4" />
        <label for="test4">DPI</label>
    </div>
    <div class="row col l6 s12">
        <input type="checkbox" id="test5" />
        <label for="test5">Otros</label>
    </div>
    <div class="row col l6 s12">
        <input type="checkbox" id="test6" />
        <label for="test6">otro</label>
    </div>
    <div class="row col l6 s12">
        <input type="checkbox" id="test7" />
        <label for="test7">otro</label>
    </div>
    <div class="row col l6 s12">
        <input type="checkbox" id="test8" />
        <label for="test8">otro</label>
    </div>
    
  </div>

  <div class="row col l11 offset-l1 s12">
    <button class=" col l2 s12 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
      Guardar
    </button>
  </div>

</div>

<script type="text/javascript">
   $(document).ready(function() {
    $('select').material_select();
  });
</script>

{% endblock content %}