{% extends 'sistema/base/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row white" style="margin-bottom: 0px;">
  <form method="post">
    {% csrf_token %}
    <div class="row white" >
      
      <div class="center blue-grey darken-3 s12 l12 white-text">
        <h4 >
          COBROS
        </h4>  
      </div>
      
      <div class=" row col s12 l8 offset-l2">
        <div class="row col l12 s12">
          <div class="input-field">
            {{ form.nombre }}
            <label for="{{ form.nombre.id }}">Nombre Cobro</label>
          </div>  
        </div>

      </div>

      <div class="row col l12 offset-l8 s12">
        <button class=" col l2 s12 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
          Guardar
        </button>
      </div>

    </div>

  </form>

   <div class="row white" >
    
    <div class="center blue-grey darken-4 s12 l12 white-text z-depth-3">
      <h4 class="">
        LISTADO DE COBROS
      </h4>  
    </div>

    <div class=" col l10 s12 offset-l1 ">
          
      <table class="highlight responsive-table" id="tabla">
        <thead>
          <tr>
              <th>Nombre Cobro</th>
              {% if user.get_username == 'administrador' %}
              <th>Eliminar</th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
        {% if listado %}

        {% for cobro in listado %}
          <tr>
            <td>{{ cobro.nombre }}</td>
            {% if user.get_username == 'administrador' %}
            <td>
              <a class="btn col l6 s8 waves-effect waves-light red black-text z-depth-1" href='/eliminar_cobro/{{cobro.id}}/'>
                <i class="material-icons  black-text">delete</i>
              </a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}

        {% endif  %}
          
        </tbody>
        
      </table>
      <br>
    </div>
  </div>




</div>


{% endblock content %}