{% extends 'sistema/base/base.html' %}
{% load staticfiles %}

{% block content %}

<form method="post">
    {% csrf_token %}
  <div class="row white" style="margin-bottom: 0px;">
    
    <div class="center blue-grey darken-3 s12 l12 white-text">
      <h4 >
        EMPRESA
      </h4>  
    </div>

    <div class="row white col s12 l10 offset-l1 " >
      
      <div class=" row col s12 l6 ">
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            {{ form.nombre }}
            <label for="{{form.nombre.id}}">{{ form.nombre.label }}</label>
          </div>  
        </div>
      </div>

      <div class=" row col s12 l6">
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            {{ form.correo }}
            <label for="{{ form.correo.id }}">{{ form.correo.label }}</label>
          </div>  
        </div>
      </div>

      <div class=" row col s12 l4">
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">phone</i>
            {{ form.telefono }}
            <label for="{{ form.telefono.id }}">{{ form.telefono.label }}</label>
          </div>  
        </div>
      </div>

      <div class=" row col s12 l4">
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            {{ form.usuario }}
            <label for="{{ form.usuario.id }}">{{ form.usuario.label }}</label>
          </div>  
        </div>
      </div>

      <div class=" row col s12 l4">
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">security</i>
            {{ form.password }}
            <label for="{{ form.correo.id }}">{{ form.password.label }}</label>
          </div>  
        </div>
      </div>

      

      <div class="row col l12 s12">
        <button class=" col l3 s12 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
          Guardar
        </button>
      </div>
    </div>
  </div>
</form>

{% if empresas %}

<div class="row white col s12 l12 " >
  <div class="center blue-grey darken-3 s12 l12 white-text">
    <h4 >
      LISTADO DE EMPRESAS
    </h4>  
  </div>

  <div class="row col s12 l10 offset-l1">
    <table class="highlight responsive-table" id="tabla">
        <thead>
          <tr>
              <th>Nombre Empresa</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>Editar</th>
              {% if user.get_username == 'administrador' %}
              <th>Eliminar</th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
          <tr>
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa.telefono }}</td>
            <td>{{ empresa.correo }}</td>
            <td>{{ empresa.usuario }}</td>
            <td>{{ empresa.password }}</td>
            <td>
              <a class="btn col l6 s8 waves-effect waves-light orange black-text z-depth-1" href='/editar_empresa/{{empresa.id}}/'>
                <i class="material-icons  black-text">mode_edit</i>
              </a><br>
            </td>
            
            {% if user.get_username == 'administrador' %}
            <td>
              <a class="btn col l6 s8 waves-effect waves-light red black-text z-depth-1" href='/eliminar_empresa/{{empresa.id}}/'>
                 <i class="material-icons  black-text">delete</i> 
              </a>
            </td>
            {% endif %}
            
          </tr>
        {% endfor %}
         
        </tbody>
        
      </table>
  </div>

</div>

{% endif %}

{% endblock content %}