{% extends 'sistema/base/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row white" style="margin-bottom: 0px;">
  <form enctype="multipart/form-data" method="post" >
    {% csrf_token %}
    <div class="row white" >
      
      <div  class="center blue-grey darken-3 s12 l12 white-text">
        <h4 id="txtSubtitulo" >
          EXPEDIENTE
        </h4>  
      </div>
        
      
      <div class="row col l6 s12">
        <br>
        <div class="row col l12 s12">
          <div class="row">
            {% for check in form.cobro %}
              {% if check.data.value|add:"0" in showmore %}
                <p class="col l6 s12">
                  {{ check.tag }}
                  <label for="{{check.id_for_label}}">{{check.choice_label}}</label>
                </p>
              {% endif %}
            {% endfor %}  
          </div>
          <div class="row">
            <a class=" col l2 s12 btn waves-effect waves-light lime black-text z-depth-4 " type="button" 
              onclick="
                if ($('#CheckExtras').attr('hidden')) {
                    $('#CheckExtras').removeAttr('hidden');
                } else {
                    $('#CheckExtras').attr('hidden','hidden');
                }
            ">
              <i class="material-icons left Medium">unfold_more</i>Ver Mas
            </a>
          </div>
          <div class="row" id="CheckExtras" hidden="hidden">
          {% for check in form.cobro %}
            {% if check.data.value|add:"0" not in showmore %}
                <p class="col l6 s12">
                  {{ check.tag }}
                  <label for="{{check.id_for_label}}">{{check.choice_label}}</label>
                </p>
              {% endif %}
            {% endfor %}
          </div>

          </div>
      </div>

      <div class="row col l6 s12">
        
        {% if Key_empresa %}
        <div class="row input-field">
          <select id="empresa" name="empresa">
            {% for empresa in listado %}
              <option value="{{empresa.id}}">{{empresa.nombre}}</option>
            {% endfor %}
          </select>
          <label>Sleccionar Empresa</label>
        </div>
        {% endif %}

        <div class="row col l12 s12">
          <div class="input-field">
            {{form.cliente}}
            <label for="{{form.cliente.id}}">{{form.cliente.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.estatus}}
            <label for="{{form.estatus.id}}">{{form.estatus.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.numeroexpe}}
            <label for="{{form.numeroexpe.id}}">{{form.numeroexpe.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.tenencias}}
            {% if form.tenencias.label %}

            {% endif %}
            <label for="{{form.tenencias.id}}">{{form.tenencias.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.autenticafirma}}
            <label for="{{form.autenticafirma.id}}">{{form.autenticafirma.label}}</label>
          </div>          
        </div>
        
<!--
        <div class="row col l4 s12">
          <div class="input-field">
            {{form.autenticadpi}}
            <label for="{{form.autenticadpi.id}}">{{form.autenticadpi.label}}</label>
          </div>          
        </div>

        

        <div class="row col l6 s12">
          <div class="input-field">
            {{form.constanciaingresos}}
            <label for="{{form.constanciaingresos.id}}">{{form.constanciaingresos.label}}</label>
          </div>          
        </div>

        <div class="row col l6 s12">
          <div class="input-field">
            {{form.formularios}}
            <label for="{{form.formularios.id}}">{{form.formularios.label}}</label>
          </div>          
        </div>
-->
        <div class="row col l6 s12">
          <label >{{form.fecha_ingreso_oficina.label}}</label>
          {{form.fecha_ingreso_oficina}}            
        </div>

        <div class="row col l6 s12">
          <label >{{form.fecha_ingreso_digecam.label}}</label>
          {{form.fecha_ingreso_digecam}}            
        </div>

        {% if key_Form %}

        <div class="row col l4 s12">
          <p class="col l12 s12">
            {{ form.esta_pagado }}
            <label for="id_esta_pagado">Esta Pagado</label>
          </p>         
        </div>
        
        <div class="row col l4 s12">
          <p class="col l12 s12">
            {{ form.esta_entregado }}
            <label for="id_esta_entregado">Esta Entregado</label>
          </p>           
        </div>

        <div class="row col l4 s12">
          <label >{{form.fecha_entregado.label}}</label>
          {{form.fecha_entregado}}            
        </div>

        <div class="row col l6 s12">
          <label >{{form.fecha_cita.label}}</label>
          {{form.fecha_cita}}            
        </div>

        <div class="row col l6 s12">
          <label >{{form.fecha_pago.label}}</label>
          {{form.fecha_pago}}            
        </div>

        <div class="row col l6 s12 ">
          <div class="input-field">
            {{form.entrego}}
            <label for="{{form.entrego.id}}">{{form.entrego.label}}</label>
          </div>          
        </div>

        <div class="row col l6 s12">
          <label >{{form.fecha_entrega.label}}</label>
          {{form.fecha_entrega}}            
        </div>
        
        <div class="row col l6 s12 ">
          <div class="input-field">
            {{form.recibio}}
            <label for="{{form.recibio.id}}">{{form.recibio.label}}</label>
          </div>          
        </div>

        <div class="row col l6 s12 ">
          <div class="input-field">
            {{form.descripcion_estatus}}
            <label for="{{form.descripcion_estatus.id}}">{{form.descripcion_estatus.label}}</label>
          </div>          
        </div>

        <div class="row col l12 s12 ">
          {{form.docfile}}        
        </div>

        {% endif %}

        

        <div class="row col l12 s12">
          <button class=" col l3  s12 offset-l9 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
            Guardar
          </button>
        </div>

      </div>

    </div>

  </form>

</div>


<script src="{% static 'admin/js/StyleConditions.js' %}"></script>

{% endblock content %}