{% extends 'sistema/base/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row white" style="margin-bottom: 0px;">
  <form enctype="multipart/form-data" method="post" >
    {% csrf_token %}
    <div class="row white" >
      
      <div class="center blue-grey darken-3 s12 l12 white-text">
        <h4 >
          EXPEDIENTE
        </h4>  
      </div>
        
      
      <div class="row col l6 s12">
        <ul id="id_cobro">
          {% for check in form.cobro %}
            <li class="row col l6 s12">
              {{ check.tag }}  
              <label for="id_cobro_{{ forloop.counter0}}" >{{check.choice_label}}</label>          
            </li>
          {% endfor %}
        </ul>  
        
      </div>

      <div class="row col l6 s12">
        
        {% if Key_empresa %}
        <div class="row input-field">
          <select id="empresa" name="empresa">
            {% for empresa in listado %}
              <option value="{{empresa.id}}">{{empresa.nombre}}</option>
            {% endfor %}
          </select>
          <label>Sleccionar Empresa</label>
        </div>
        {% endif %}

        <div class="row col l12 s12">
          <div class="input-field">
            {{form.cliente}}
            <label for="{{form.cliente.id}}">{{form.cliente.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.estatus}}
            <label for="{{form.estatus.id}}">{{form.estatus.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.numeroexpe}}
            <label for="{{form.numeroexpe.id}}">{{form.numeroexpe.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.tenencias}}
            <label for="{{form.tenencias.id}}">{{form.tenencias.label}}</label>
          </div>          
        </div>

        <div class="row col l3 s12">
          <div class="input-field">
            {{form.autenticafirma}}
            <label for="{{form.autenticafirma.id}}">{{form.autenticafirma.label}}</label>
          </div>          
        </div>
        
<!--
        <div class="row col l4 s12">
          <div class="input-field">
            {{form.autenticadpi}}
            <label for="{{form.autenticadpi.id}}">{{form.autenticadpi.label}}</label>
          </div>          
        </div>

        

        <div class="row col l6 s12">
          <div class="input-field">
            {{form.constanciaingresos}}
            <label for="{{form.constanciaingresos.id}}">{{form.constanciaingresos.label}}</label>
          </div>          
        </div>

        <div class="row col l6 s12">
          <div class="input-field">
            {{form.formularios}}
            <label for="{{form.formularios.id}}">{{form.formularios.label}}</label>
          </div>          
        </div>
-->
        <div class="row col l6 s12">
          <label >{{form.fecha_ingreso_oficina.label}}</label>
          {{form.fecha_ingreso_oficina}}            
        </div>

        <div class="row col l6 s12">
          <label >{{form.fecha_ingreso_digecam.label}}</label>
          {{form.fecha_ingreso_digecam}}            
        </div>

        {% if key_Form %}
        <div class="row col l6 s12">
          <label >{{form.fecha_cita.label}}</label>
          {{form.fecha_cita}}            
        </div>

        <div class="row col l6 s12">
          <label >{{form.fecha_pago.label}}</label>
          {{form.fecha_pago}}            
        </div>

        <div class="row col l6 s12 ">
          <div class="input-field">
            {{form.entrego}}
            <label for="{{form.entrego.id}}">{{form.entrego.label}}</label>
          </div>          
        </div>

        <div class="row col l6 s12">
          <label >{{form.fecha_entrega.label}}</label>
          {{form.fecha_entrega}}            
        </div>
        
        <div class="row col l6 s12 ">
          <div class="input-field">
            {{form.recibio}}
            <label for="{{form.recibio.id}}">{{form.recibio.label}}</label>
          </div>          
        </div>

        <div class="row col l6 s12 ">
          <div class="input-field">
            {{form.descripcion_estatus}}
            <label for="{{form.descripcion_estatus.id}}">{{form.descripcion_estatus.label}}</label>
          </div>          
        </div>

        <div class="row col l12 s12 ">
          {{form.docfile}}        
        </div>

        {% endif %}

        

        <div class="row col l12 s12">
          <button class=" col l3  s12 offset-l9 btn-large waves-effect waves-light pink white-text z-depth-4 " type="sumit">
            Guardar
          </button>
        </div>

      </div>

    </div>

  </form>

</div>


{% endblock content %}